<h2>Welcome Traveler - Let us know what you think!</h2>
<form action="/" method="post">
  <input type="text" name="message"/>
  <input type="submit" placeholder="Type in your tweet here..."/ value="Tweet">
</form>
